<div class="container" role="main">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Meetups</a></li>
      <li>Create New</li>
      <li class="active">Select Group</li>
    </ol>
  </div>
  <div class="col-md-6">
    <h2>Current Groups</h2>
    {{#if groups}}
      <div class="list-group">
        {{#each groups}}
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{this.name}}</h4>
          <p class="list-group-item-text">Group Has {{this.members.length}} members, with {{this.weeklyMeetups.length}} weekly meetups!</p>
        </a>
        {{/each}}
      </div>
    {{else}}
      <!-- Render No Current Groups Text -->
      <h3>No Current Groups! Create one! 😬</h3>
    {{/if}}

  </div>
  <div class="col-md-6">
    <h2>Create New Group</h2>
    <form role="form" method="post" data-toggle="validator">
      <div class="form-group">
        <!-- <label for="inputsm">Name</label> -->
        <input class="form-control input-lg" placeholder="Group Name" name="groupName" required type="text">
      </div>
      <h3>Members</h3>
      <!-- The User Themselves, as an example. -->
      <div id="userRep" class="input-group" style="padding: 10px; padding-left: 30px;">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <input type="text" class="form-control" name="ignore" value="{{user.name}}" disabled />
        <span class="input-group-addon" id="usernameSubtext">{{user.username}}</span>
        <span class="input-group-btn">
          <button class="btn btn-danger disabled" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        </span>
      </div>
      <div id="newUserRep" class="input-group hidden" style="padding: 10px; padding-left: 30px;">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <input type="text" class="form-control" name="ignore" value="Naddya" required />
        <span class="input-group-addon" id="phoneSubtext">(407) 111-1111</span>
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        </span>
      </div>
      <!-- Dynamically Added Members -->
      <div id="ctrMembers">
      </div>
      <!-- Add Member Buttons -->
      <div style="padding: 10px;" class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddByCell">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Add by Number
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAddByUsername">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add by Username
          </button>
        </div>
      </div>
      <!-- Add Cell Modal -->
      <div class="modal fade" id="modalAddByCell" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
              <div id="alertInvalidPhoneNumber" class="alert alert-danger hidden" role="alert">Please Input A Valid Number!</div>
              <div class="input-group input-group">
                <span class="input-group-addon glyphicon glyphicon-font"></span>
                <input id="inputDisplayName" type="text" class="form-control" placeholder="Display Name">
              </div>
              <br/>
              <div id="divPhoneNumber" class="input-group">
                <span class="input-group-addon glyphicon glyphicon-phone" id="basic-addon1"></span>
                <input id="inputPhoneNumber" type="tel" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="btnAddUserByNumber" type="button" class="btn btn-primary">Add User</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Username Modal -->
      <div class="modal fade" id="modalAddByUsername" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add User</h4>
            </div>
            <div class="modal-body">
              <div id="alertInvalidUsername" class="alert alert-danger hidden" role="alert">User Not Found!</div>
              <div id="divUsername" class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                <input id="inputUsername" type="text" class="form-control" placeholder="Username">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="btnAddUserByUsername" type="button" class="btn btn-primary">Add User</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" align="center">
        <button class="btn btn-lg btn-default">Create</button>
      </div>
    </form>
  </div>
</div>
