<div class="container" role="main">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Meetups</a></li>
      <li>Create New</li>
      <li><a href="/meetup/new">Select Group</a></li>
      <li>{{group.name}}</li>
      <li class="active">Select Times</li>
    </ol>
  </div>
  <div class="col-md-12" align="center">
    <h1>New Meetup for {{group.name}}!</h1>
  </div>
  <form role="form" method="post">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h3>Repeating Meetup?</h3>
        <input id="repeatingMeetupCheckbox" type="checkbox" name="repeating">
        <h3>What Day(s) Will Your Group Meet?</h3>
        <div class="btn-group" data-toggle="buttons">
          {{#each weekdays}}
            <label class="btn btn-primary btn-lg">
              <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}<br/><small>{{this.nextDate}}</small>
            </label>
          {{/each}}
        </div>
        <span>  </span>
        <div class="btn-group" data-toggle="buttons">
          {{#each weekends}}
            <label class="btn btn-info btn-lg">
              <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}
            </label>
          {{/each}}
        </div>
        <h3>What Library?</h3>
        <div class="form-group">
          <!-- <label for="sel1">Select list:</label> -->
          <select class="form-control" id="library">
            {{#each libraries}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-lg-6" align="center">
        <h3>Choose a Starting Time</h3>
        <input id="pickadate-begin" name="timeBegin" class="" type="text" placeholder="Start Time" readonly="" aria-haspopup="true">
        <br/>
        <h3>Choose an Ending Time</h3>
        <input id="pickadate-end" name="timeEnd" class="" type="text" placeholder="End Time" readonly="" aria-haspopup="true">
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary btn-lg" name="subming eltType" value="once">Schedule Once</button>
          </div>
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-info btn-lg" name="submitType" value="weekly">Schedule Weekly</button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
</div>
