<div class="container" role="main">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Meetups</a></li>
      <li>Create New</li>
      <li><a href="/meetup/new">Select Group</a></li>
      <li>{{group.name}}</li>
      <li class="active">Select Times</li>
    </ol>
  </div>
  <div class="col-md-12" align="center">
    <h1>New Meetup for {{group.name}}!</h1>
  </div>
  <form role="form" method="post">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h3>Repeating Meetup?</h3>
        <input id="repeatingMeetupSwitch" type="checkbox" name="repeating" />

        <div id="singleMeetupDiv">
          <h3>What Date?</h3>
          <input id="singleMeetupDatepicker" name="singleMeetupDate" class="fieldset__input js__datepicker picker__input" type="text" placeholder="Select a Day to Meetup" readonly="">
        </div>

        <div id="repeatingMeetupDiv" hidden>
          <h3>What Weekdays?</h3>
          <div class="btn-group" data-toggle="buttons">
            {{#each weekdays}}
              <label class="btn btn-primary btn-lg">
                <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}
              </label>
            {{/each}}
          </div>
          <span>  </span>
          <div class="btn-group" data-toggle="buttons">
            {{#each weekends}}
              <label class="btn btn-info btn-lg">
                <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}
              </label>
            {{/each}}
          </div>
        </div>
        <h3>What Library?</h3>
        <div class="form-group">
          <!-- <label for="sel1">Select list:</label> -->
          <select class="form-control" id="library">
            {{#each libraries}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-lg-6" align="center">
        <h3>What Time to Start?</h3>
        <input id="pickadate-begin" name="timeBegin" class="" type="text" placeholder="Start Time" readonly="" aria-haspopup="true">
        <br/>
        <h3>What Time to End?</h3>
        <input id="pickadate-end" name="timeEnd" class="" type="text" placeholder="End Time" readonly="" aria-haspopup="true">
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-calendar"></span> Schedule Meetup
        </button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
</div>
