<div class="container" role="main">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Meetups</a></li>
      <li>Create New</li>
      <li><a href="/meetup/new">Select Group</a></li>
      <li>{{group.name}}</li>
      <li class="active">Select Times</li>
    </ol>
  </div>
  <form role="form" method="post">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" align="center">
        <h1>New Meetup for {{group.name}}!</h1>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon3">Name</span>
          <input name="meetupName" type="text" class="form-control" placeholder="e.g. Digital Design Meetup" aria-describedby="sizing-addon1">
        </div>
        <br />
        <br />
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-6" align="center">
        <h3>Member Information</h3>
        <!-- User Container that contains the logged in user. -->
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
          <input type="text" class="form-control" value="{{user.username}}" disabled>
        </div>
        <!-- Items are Dynamically Added to Below Container -->
        <div id="memberInfoContainer">
          <br />
        </div>
        <div style="padding: 10px;" class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" id="btnAddPhone" class="btn btn-primary" name="submitType" value="once">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Add Number
            </button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="btnAddUser" class="btn btn-info" name="submitType" value="once">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add Username
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <h3>What Day(s) Will Your Group Meet?</h3>
        <div class="btn-group" data-toggle="buttons">
          {{#each weekdays}}
            <label class="btn btn-primary btn-lg">
              <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}
            </label>
          {{/each}}
        </div>
        <span>  </span>
        <div class="btn-group" data-toggle="buttons">
          {{#each weekends}}
            <label class="btn btn-info btn-lg">
              <input type="checkbox" id="checkbox{{this.day}}" name="daysSelected" value="{{this.day}}">{{this.disp}}
            </label>
          {{/each}}
        </div>
        <h3>Choose a Starting Time</h3>
        <input id="pickadate-begin" name="timeBegin" class="" type="text" placeholder="Start Time" readonly="" aria-haspopup="true">
        <br/>
        <h3>Choose an Ending Time</h3>
        <input id="pickadate-end" name="timeEnd" class="" type="text" placeholder="End Time" readonly="" aria-haspopup="true">
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary btn-lg" name="subming eltType" value="once">Schedule Once</button>
          </div>
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-info btn-lg" name="submitType" value="weekly">Schedule Weekly</button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
</div>
